<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="icon" type="image/x-icon" href="static/MCU/images/Logo.ico"> -->

    {% load django_bootstrap5 %}
    {% bootstrap_css %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'homepage/css/custom.css' %}?v={{ timestamp }}">
    <!-- <link rel="stylesheet" href="{% static 'homepage/css/custom.css' %}"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="d-flex flex-column min-vh-100">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary py-3 fixed-top m-0">
        <div class="container">
            <a class="navbar-brand fw-semibold" href="{% url 'home' %}">
                ManYu Café d'Amore
            </a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold {% if home %}active{% endif %}" href="{% url 'home' %}">
                            <i class="fas fa-home me-1"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold {% if about %}active{% endif %}" href="{% url 'about' %}">
                            <i class="fas fa-info-circle me-1"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold {% if CoffeeList %}active{% endif %}" href="{% url 'CoffeeList' %}">
                            <i class="fa-solid fa-book me-1"></i> Menu
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



    {% block content %}

    {% endblock %}
    {% bootstrap_javascript %}
</body>

</html>