/* .container {

    background-color: red;
     
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#hero {
    background-image: url(image/banner-homepage.jpg); /* Gambar latar belakang */
    background-size: cover; /* Gambar mencakup seluruh area */
    background-position: center; /* Posisi gambar di tengah */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    height: 100vh; /* Mengatur tinggi banner sesuai tinggi layar */
    display: flex;
    align-items: center; /* Mengatur konten di tengah secara vertikal */
    color: white; /* Agar teks terlihat jelas di atas gambar */
  }
  
  #hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
    z-index: 1; /* Letakkan overlay di atas background tetapi di bawah teks */
}

#hero > * {
    position: relative;
    z-index: 2; /* Letakkan konten di atas overlay */
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

.bg-primary {
    background: #181C14 !important;
}

.text-primary {
    color: #181C14 !important;
}

.border-primary {
    border-color: #181C14 !important;
}

.btn-outline-primary {
    border-color: #fff !important;
    color: #fff !important;
}

.btn-outline-primary:hover {
    background: #181C14 !important;
    color: var(--bs-light) !important;
}

.btn-outline-light:hover {
    color: #181C14 !important; 
}

.navbar .nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; 
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:not(.active)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; 
    background-color: white; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.navbar .nav-link:not(.active):hover::after {
    width: 90%;
}

.navbar .nav-link:not(.active):hover {
    color: #ffffff; 
}

.text-justify {
    text-align: justify;
}


@media only screen and (max-width: 992px) {
    .navbar .nav-link:not(.active):hover::after {
        width: 0%;
    }
}